<div>
  <h1>Translation demo</h1>
  <p>This is a simple demonstration app for ngx-translate</p>
</div>
<div>
  <h1>{{ 'demo.heading' | translate }}</h1>

  <!-- translation: translation pipe -->
  <p>{{ 'demo.text' | translate }}</p>

  <!-- translation: directive (key as attribute)-->
  <p [translate]="'demo.text'"></p>

  <!-- translation: directive (key as content of element) -->
  <p translate>demo.text</p>
</div>

<!-- translation with parameters: translation pipe -->
<p>{{ 'demo.greeting' | translate:{'name':'Andreas'} }}</p>

<!-- translation: directive (key as attribute) -->
<p [translate]="'demo.greeting'" [translateParams]="{name: nombreMio}"></p>

<!-- translation: directive (key as content of element)-->
<p translate [translateParams]="{name: 'Andreas'}">demo.greeting</p>


<button (click)="useLanguage('en')">En</button>
<button (click)="useLanguage('es')">es</button>
<button (click)="useLanguage('es-419')">Es-419</button>
